<div class="itemContainer">
    <div class="mosaicflow__item">
      <img src="<%= find.image_url %>" alt="<%= find.name %>">
      <a href="<%= find.url %>" class="item" target = "_blank"><%= find.name %><br/>
      <span class="offer_text"><%= find.service_remark %></span>
      </a>
    </div>
</div>